
    <section class="slider">
      <div id="slider-demo" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#slider-demo" data-slide-to="0" class="active"></li>
          <li data-target="#slider-demo" data-slide-to="1"></li>
          <li data-target="#slider-demo" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active" ng-repeat="book in books">
            <img ng-src="http://localhost:8080/api/image/{{book.imageUrl}}/" alt="slide1" class="img-responsive center-block">
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#slider-demo" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#slider-demo" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </section> <!--end .slider-->

    <section class="content">
      <div class="container">
        <div class="promo">
        <h3>Best Seller</h3>
          <div class="row">
            <div class="col-sm-3" ng-repeat="book in books">
              <a ui-sref="book({bookId:book.id})">
                <img ng-src="http://localhost:8080/api/image/{{book.imageUrl}}/" alt="promo 1">
              </a>
            </div>
          </div>
        </div><!--end .promo-->

        <div class="product-new">
          <div class="row">
            <div class="col-sm-12">
              <h3 class="box-tilte">New Product</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3" ng-repeat="book in books">
              <a ui-sref="book({bookId:book.id})">
                <img ng-src="http://localhost:8080/api/image/{{book.imageUrl}}/" alt="new 1">
              </a>
            </div>
          </div>
        </div><!--end .product-new-->

        <div class="product-lists">
          <div class="row">
            <div class="col-sm-12">
              <h3 class="box-tilte">Featured Product</h3>
            </div>
          </div>
          <div class="row" > 
            <div class="col-sm-3 product-item" ng-repeat="book in books">
              <div class="image">
                <div class="wishlist">
                  <div class="left">
                    <a href="#">
                      <i class="glyphicon glyphicon-shopping-cart"></i>
                    </a>
                  </div>
                  <div class="right">
                    <a href="#">
                      <i class="glyphicon glyphicon-heart"></i>
                    </a>
                  </div>
                </div>
                <img ng-src="http://localhost:8080/api/image/{{book.imageUrl}}/" alt="product 1">
                <div class="line"></div>
              </div>
              <div class="title">
                <h3><a ui-sref="book({bookId:book.id})">{{book.title}}</a></h3>
              </div>
              <div class="info">
                <div class="pull-right">
                  <ins>
                    <span>{{book.price}}</span>
                  </ins>
                </div>
              </div>
            </div><!--end .product-item-->

          </div>
        </div><!--end .product-lists-->

        <!-- <div class="look-more">
          <button type="button">Look more</button>
        </div> -->

        <nav>
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li><a href="#/" ng-click="paging(0)">1</a></li>
            <li><a href="#/" ng-click="paging(1)">2</a></li>
            <li><a href="#/" ng-click="paging(2)">3</a></li>
            <li><a href="#/" ng-click="paging(3)">4</a></li>
            <li><a href="#/" ng-click="paging(4)">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>

      </div><!--end .container-->
    </section><!--end .content-->

