<div class="footer-custom">
        <div class="container">
          <div class="row">
            <div class="col-sm-3 about-us">
              <div class="title">
                <h3>About us</h3>
                <div class="line"></div>
              </div>
              <div class="content">
                <p>
                  Adam's bookstore is a famous bookshop in Vietnam. There, it provides very many kinds of books, such as: technology, economics, comics, novels,...
                </p>
                <p>
                  This about text can be edited from theme admin panel!
                </p>
              </div>
            </div>

            <div class="col-sm-3 contact-us">
              <div class="title">
                <h3>Contact us</h3>
                <div class="line"></div>
              </div>
              <div class="content">
                <div class="item">
                  <div class="icon">
                    <i class="glyphicon glyphicon-map-marker"></i>
                  </div>
                  <div class="info">
                    No.1 Dai Co Viet Street, Hai Ba Trung Strict, Hanoi
                  </div>
                </div>
                <div class="item">
                  <div class="icon">
                    <i class="glyphicon glyphicon-phone-alt"></i>
                  </div>
                  <div class="info">
                    Hotline: (04) 345 850 432
                  </div>
                </div>
                <div class="item">
                  <div class="icon">
                    <i class="glyphicon glyphicon-envelope"></i>
                  </div>
                  <div class="info">
                    Email: support@adambook.com
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="title">
                <h3>Twitter</h3>
                <div class="line"></div>
              </div>
              <div class="content">
                <a href="#">Find us on Twitter</a>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="title">
                <h3>Facebook</h3>
                <div class="line"></div>
              </div>
              <div class="content">
                <a href="https://www.facebook.com/Nguy%E1%BB%85n-Ho%C3%A0ng-Xu%C3%A2n-Thi%C3%AAn-881134645340577/?fref=photo">Find us on Facebook</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-link">
        <div class="container">
          <div class="row">
            
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <p>&copy; 2016 | Theme custom by admin</p>
            </div>
          </div>
        </div>
      </div>